*{
	background: linear-gradient(90deg, rgba(180,58,58,1) 0%, rgba(29,82,253,1) 50%, rgba(79,252,69,1) 100%);
	padding: 0;
}
header{
	width: 100%;
	height: 50px;
	background: transparent;
}
main{
	width: 100%;
	height: 90%;
	display: flex;

	}
section{
	width: 40%;
	height: 100%;
	display: inline-block;
	background: transparent;
}
img{
	background: transparent;
}
.txt{
	width: 75%;
	border-radius: 10px;
	margin-right: 20px;
	background: transparent;
	
}
.txt-encoder{
	width: 20%;
	height: 500px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;

	
}
h3,p, .container-img, div {
	background: transparent;
	
}
.textoE{
 width: 100%;
 height: 70%;
 padding: 25px;
 box-sizing: border-box;
 background: transparent;
 overflow: hidden;
}
.resultado{
	background: transparent;
	overflow: hidden;
}
.btn-input{
	display:block;
	margin: 20px;
	margin-left: 20%;
	background: transparent;
}
.btn-encr, .btn-descr {
	width: 35%;
	height: 40%;
	border-radius: 10px;
	background: #aa55ea;
	padding: 10px;
	align-items: center;
}
.text-enc{
	width: 100%;
	height: 500px;
	padding: 25px;
	box-sizing: border-box;
	overflow: auto;
	background: transparent;
	font-size: 20px;
	text-align: center;
	resize: none;
	border-radius: 10px;
}
.copy{
	width: 100%;
	height: 20%;
	text-align: center;
	background: transparent;
}
.btn-copy{
	width: 40%;
	height: 40%;
	display: block;
	margin:auto;
	margin-top: 20px;
	border-radius: 10px;
	background: #aa55ea;
}
footer{
	text-align: center;
	margin-top: 20px;
}
.ocultar{
	display: none;
}
@media only screen and (max-width: 500px) {
	main{
		display: inline;
		
	}
	.btn-input{
		margin-left: 20%;
	}
	.btn-encr, .btn-descr{
		width: 60%;
		height: 60%;
		
	}
	.txt{
		width: 100%;
	}	
	.txt-encoder{
	width: 100%;
	height: 300px;
	border-radius: 10px;
	box-sizing: border-box;
	font-size: 20px;
	text-align: center;
}

	.copy{
		width: 70%;
		height: 35%;
		margin: auto;
	}
	
  }